<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Staff Information</h4>
                        <span class="box-controls pull-right">
                    </span>
                    </div>
                    <div class="box-body">
                        <form @submit.prevent="processStaffForm">
                            <div class="form-group">
                                <label>Title <span class="color-red">*</span></label>
                                <select class="form-control" name="title" ref="title" required>
                                    <option value="">select</option>
                                    <option value="MR" :selected="staffs && staffs.title == 'MR'">MR</option>
                                    <option value="MRS" :selected="staffs && staffs.title == 'MRS'">MRS</option>
                                    <option value="MISS" :selected="staffs && staffs.title == 'MISS'">MISS</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Surname <span class="color-red">*</span></label>
                                <input type="text" class="form-control" autocomplete="off" ref="surname" required :value="staffs ? staffs.surname : ''">
                            </div>
                            <div class="form-group">
                                <label>Other Names <span class="color-red">*</span></label>
                                <input class="form-control" type="text" name="othername" autocomplete="off" ref="othername" required :value="staffs ? staffs.othername : ''">
                            </div>
                            <div class="form-group">
                                <label>Email Address </label>
                                <input class="form-control" type="email" autocomplete="off" ref="email_address" :value="staffs ? staffs.email_address : ''">
                            </div>
                            <div class="form-group">
                                <label>Phone Number <span class="color-red">*</span></label>
                                <input class="form-control" type="number" autocomplete="off" ref="phone_number" required :value="staffs ? staffs.phone_number : ''">
                            </div>
                            <div class="form-group">
                                <label>Date of Birth </label>
                                <input type="date" class="form-control" name="" ref="date_of_birth" :value="staffs ? staffs.date_of_birth : ''">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label>Qualification <span class="color-red">*</span></label>
                                <select class="form-control" ref="qualification" required>
                                    <option value="">select</option>
                                    <option value="PHD" :selected="staffs && staffs.qualification == 'PHD'">PHD</option>
                                    <option value="MSC" :selected="staffs && staffs.qualification == 'MSC'">MSC</option>
                                    <option value="BSC" :selected="staffs && staffs.qualification == 'BSC'">BSC</option>
                                    <option value="HND" :selected="staffs && staffs.qualification == 'HND'">HND</option>
                                    <option value="OND" :selected="staffs && staffs.qualification == 'OND'">OND</option>
                                    <option value="Corper" :selected="staffs && staffs.qualification == 'Corper'">Corper</option>
                                    <option value="SSCE" :selected="staffs && staffs.qualification == 'SSCE'">SSCE</option>
                                    <option value="other" :selected="staffs && staffs.qualification == 'MR'">Other</option>
                                    <option value="None" :selected="staffs && staffs.qualification == 'None'">None</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Position <span class="color-red">*</span></label>
                                <span class="float-right">
                                <a data-toggle="modal" data-target="#modal-default" class="font-size-12" style="color: #007bff;" href="javascript:void(0)">Add Position</a>
                            </span>
                                <select class="form-control" ref="position" required>
                                    <option value="">select</option>
                                    <option v-for="pos in positions" :key="pos.id" :value="pos.title" :selected="staffs && staffs.position == pos.title">{{pos.title}}</option>
                                </select>
                                <p></p>
                            </div>
                            <div class="form-group">
                                <label>State of origin <span class="color-red">*</span></label>
                                <select class="form-control" ref="state" required>
                                    <option value="">select</option>
                                    <option value="Abia" :selected="staffs && staffs.state == 'Abia'">Abia</option>
                                    <option value="Adamawa" :selected="staffs && staffs.state == 'Adamawa'">Adamawa</option>
                                    <option value="Anambra" :selected="staffs && staffs.state == 'Anambra'">Anambra</option>
                                    <option value="Akwa Ibom" :selected="staffs && staffs.state == 'Akwa Ibom'">Akwa Ibom</option>
                                    <option value="Bauchi" :selected="staffs && staffs.state == 'Bauchi'">Bauchi</option>
                                    <option value="Bayelsa" :selected="staffs && staffs.state == 'Bayelsa'">Bayelsa</option>
                                    <option value="Benue" :selected="staffs && staffs.state == 'Benue'">Benue</option>
                                    <option value="Borno" :selected="staffs && staffs.state == 'Borno'">Borno</option>
                                    <option value="Cross River" :selected="staffs && staffs.state == 'Cross River'">Cross River </option>
                                    <option value="Delta" :selected="staffs && staffs.state == 'Delta'">Delta</option>
                                    <option value="Ebonyi" :selected="staffs && staffs.state == 'Ebonyi'">Ebonyi</option>
                                    <option value="Enugu" :selected="staffs && staffs.state == 'Enugu'">Enugu</option>
                                    <option value="Edo" :selected="staffs && staffs.state == 'Edo'">Edo</option>
                                    <option value="Ekiti" :selected="staffs && staffs.state == 'Ekiti'">Ekiti</option>
                                    <option value="FCT - Abuja" :selected="staffs && staffs.state == 'FCT - Abuja'">FCT - Abuja</option>
                                    <option value="Gombe" :selected="staffs && staffs.state == 'Gombe'">Gombe</option>
                                    <option value="Imo" :selected="staffs && staffs.state == 'Imo'">Imo</option>
                                    <option value="Jigawa" :selected="staffs && staffs.state == 'Jigawa'">Jigawa</option>
                                    <option value="Kaduna" :selected="staffs && staffs.state == 'Kaduna'">Kaduna</option>
                                    <option value="Kano" :selected="staffs && staffs.state == 'Kano'">Kano</option>
                                    <option value="Katsina" :selected="staffs && staffs.state == 'Katsina'">Katsina</option>
                                    <option value="Kebbi" :selected="staffs && staffs.state == 'Kebbi'">Kebbi</option>
                                    <option value="Kogi" :selected="staffs && staffs.state == 'Kogi'">Kogi</option>
                                    <option value="Kwara" :selected="staffs && staffs.state == 'Kwara'">Kwara</option>
                                    <option value="Lagos" :selected="staffs && staffs.state == 'Lagos'">Lagos </option>
                                    <option value="Nasarawa" :selected="staffs && staffs.state == 'Nasarawa'">Nasarawa</option>
                                    <option value="Niger" :selected="staffs && staffs.state == 'Niger'">Niger</option>
                                    <option value="Ogun" :selected="staffs && staffs.state == 'Ogun'">Ogun</option>
                                    <option value="Ondo" :selected="staffs && staffs.state == 'Ondo'">Ondo</option>
                                    <option value="Osun" :selected="staffs && staffs.state == 'Osun'">Osun</option>
                                    <option value="Oyo" :selected="staffs && staffs.state == 'Oyo'">Oyo</option>
                                    <option value="Plateau" :selected="staffs && staffs.state == 'Plateau'">Plateau</option>
                                    <option value="Rivers" :selected="staffs && staffs.state == 'Rivers'">Rivers</option>
                                    <option value="Sokoto" :selected="staffs && staffs.state == 'Sokoto'">Sokoto</option>
                                    <option value="Taraba" :selected="staffs && staffs.state == 'Taraba'">Taraba</option>
                                    <option value="Yobe" :selected="staffs && staffs.state == 'Yobe'">Yobe</option>
                                    <option value="Zamfara" :selected="staffs && staffs.state == 'Zamfara'">Zamfara</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>LGA </label>
                                <input type="text" class="form-control" name="" ref="lga" :value="staffs ? staffs.lga : ''">
                            </div>
                            <div class="form-group">
                                <label>Home Address </label>
                                <textarea class="form-control" ref="home_address">{{ staffs ? staffs.home_address : ''}}</textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-lg" ref="submitstaff">Submit <i class="fa fa-plus-circle"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Information Preview</h4>
                        <span class="box-controls pull-right">
                    </span>
                    </div>
                    <div class="box-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Position</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <label>Title</label>
                        <input type="text" class="form-control" id="title-modal" ref="position_title">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a @click="positionModal" class="btn btn-primary float-right" href="javascript:void(0)">Create New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import http from '../http'
import swal from 'sweetalert'
import HELPER from '../helper'
import { mapState } from 'vuex'

export default {
    name: 'AddStaff',
    async mounted() {
        this.$store.dispatch('loadPosition');
    },
    created() {
        const _id = this.$route.params.id;
        this.staffs = this.$store.getters.findStaffById(_id);
    },
    computed: mapState([
        'positions'
    ]),
    data() {
        return {
            title: '',
            surname: '',
            othername: '',
            email_address: '',
            phone_number: '',
            date_of_birth: '',
            qualification: '',
            position: '',
            state: '',
            lga: '',
            home_address: '',
            status: false,
            staffs: []
        }
    },
    methods: {
        processStaffForm() {
            if (!this.$refs.surname.value.match(/^[a-zA-Z]+$/)) {
                swal('Notification', 'Please enter single surname name', 'error');
                return false;
            } else if (this.$refs.phone_number.value.length < 11 || this.$refs.phone_number.value.length > 13) {
                swal('Notification', 'Please enter valid phone number', 'error');
                return false;
            }
            const dataString = {
                title: this.$refs.title.value,
                surname: this.$refs.surname.value,
                othername: this.$refs.othername.value,
                email_address: this.$refs.email_address.value,
                phone_number: this.$refs.phone_number.value,
                date_of_birth: this.$refs.date_of_birth.value,
                qualification: this.$refs.qualification.value,
                position: this.$refs.position.value,
                state: this.$refs.state.value,
                lga: this.$refs.lga.value,
                home_address: this.$refs.home_address.value
            }
            const elem = this.$refs.submitstaff;
            elem.setAttribute("disabled", "");
            elem.innerHTML = "please wait...<i class='fa fa-cog fa-spin'></i>";
            const _id = this.$route.params.id || null;
            if (_id !== null) {
                dataString['id'] = _id
                this.$store.dispatch('updatestaff', dataString).then(res => {
                    elem.removeAttribute("disabled");
                    elem.innerHTML = "Submit <i class='fa fa-plus-circle'></i>";
                    swal('Notification', 'Record Updated Successfully', 'success');
                    return this.$router.push(`/home/staff-details`);
                })
            }
            return http.save('staff', dataString).then((resp) => {
                elem.removeAttribute("disabled");
                elem.innerHTML = "Submit <i class='fa fa-plus-circle'></i>";
                this.$store.state.staffs.push(resp.data);
                swal('Notification', 'Record Added Successfully', 'success');
                this.$router.push('/home/staff-details');
            }).catch((err) => {
                if (err.response) {
                    return HELPER.error(err);
                }
            })
        },
        async positionModal(e) {
            let title = this.$refs.position_title.value;
            if (title === '') {
                return swal('Notification', 'Position title is required !', 'error');
            }
            try {
                const elem = e.currentTarget;
                elem.setAttribute("disabled", "");
                elem.innerHTML = "please wait...<i class='fa fa-cog fa-spin'></i>";
                this.$store.dispatch('storeposition', { title: title }).then(res => {
                    elem.innerHTML = "Create New";
                    elem.removeAttribute("disabled");
                    swal('Notification', 'Position Added Successfully !', 'success')
                    title = '';
                })

            } catch (error) {
                swal('Notification', 'Error Occured!', 'error')
            }
            $('#modal-default').modal('hide')
        }
    }
}

</script>
<style></style>
