<template>
    <div>
        <div class="row">
            <card-component card-title="Users" card-style="bg-primary" card-url="Settings" card-small-title="User Account" :card-amount="total_user" :is-loading="loading"></card-component>
            <card-component card-title="Total Staff" card-style="bg-info" card-url="StaffDetails" card-small-title="Total Staff Information" :card-amount="total_staff" :is-loading="loading"></card-component>
            <card-component card-title="Payroll" card-style="bg-danger" card-url="Payroll" card-small-title="Total Payroll Created" :card-amount="total_payroll > 100 ? total_payroll+'+' : total_payroll" :is-loading="loading"></card-component>
            <card-component card-title="Payslip" card-style="bg-success" card-url="Payroll" card-small-title="Total Payslip Created" :card-amount="total_payslip > 100 ? total_payslip+'+': total_payslip" :is-loading="loading"></card-component>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <search-component></search-component>
            </div>
            <div class="col-12 col-lg-6">
                <!-- AREA CHART -->
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Monthly Relationship</h4>
                        <span class="box-controls pull-right">
     				<a href="#">view more</a>
                </span>
                    </div>
                    <div class="box-body">
                        <div class="chart-responsive">
                            <div class="chart" id="bar-chart" style="height: 250px;"></div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</template>
<script>

export default {
    name: 'Home',
    async mounted() {
        if (this.$store.state.staffs.length === 0) {
            this.loading = true
        }
        if (this.$store.state.payrolls.length === 0) {
            this.loading_payroll = true
        }
        if (this.$store.state.users.length === 0) {
            this.loading_user = true
        }

        this.$store.dispatch('loadStaffs').then(res => {
            this.loading = false
        });
        this.$store.dispatch('loadpayroll').then(res => {
            this.loading_payroll = false
        });
        this.$store.dispatch('loadpaysliponly').then(res => {
            this.loading = false
        });
        this.$store.dispatch('loadusers').then(res => {
            this.loading_user = false
        });
    },
    computed: {
        total_staff() {
            return this.$store.getters.totalStaffNo.toString();
        },
        total_payroll() {
            return this.$store.getters.totalPayroll.toString();
        },
        total_payslip() {
            return this.$store.getters.totalPayslip.toString();
        },
        total_user() {
            return this.$store.getters.totalUser.toString();
        }
    },
    data() {
        return {
            loading: false,
            loading_payroll: false,
            loading_user: false
        }
    }
}

</script>
<style>
</style>
