<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Payslip for {{payrolldate.month}}, {{payrolldate.year}}</h4>
                        <span class="box-controls pull-right">
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-plus-circle"></i> Create Payslip</a>
                        </span>
                    </div>
                    <div class="box-body">
                        <!-- <span v-if="payslips.length > 0"> -->
                        <span v-if="loading_payslip">
                            <img src="/admin/images/spinner.svg"> <i>please wait...</i>
                        </span>
                        <span v-else>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>S/N</th>
                                    <th>Staff Name</th>
                                    <th>Position</th>
                                    <th>Qualification</th>
                                    <th>Date Created </th>
                                    <th> Action </th>
                                </tr>
                                <tr v-for="(payslip, index) of payslips">
                               
                                    <td>{{index+1}}</td>
                                    <td>{{payslip.has_staff ? payslip.has_staff.title +' '+ payslip.has_staff.surname +' '+ payslip.has_staff.othername : 'N/A'}}</td>
                                    <td>{{ payslip.has_staff ? payslip.has_staff.position : 'N/A'}}</td>
                                    <td>{{ payslip.has_staff ? payslip.has_staff.qualification : 'N/A'}} </td>
                                    <td>{{ payslip.has_staff ? payslip.has_staff.created_at : 'N/A'}}</td>
                                    <td>
                                        <router-link :to="{name: 'SinglePayroll', params: {id: payslip ? payslip.has_staff.id: 0, payroll_id: payslip ?  payslip.payroll_id : 0, payslip_id: payslip ?  payslip.id : 0}}" class="btn btn-sm btn-success">View Details<i class="fa fa-arrow-right"></i></router-link>
                                        <span v-if="payslip">
                                            <a href="javascript:void(0)" @click="remove" :data-id="payslip.id" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
                                        </span>
                        </td>
                        </tr>
                        </table>
                        </span>
                        <!-- </span>
                    <span v-else>
                        <h3>No Record Available</h3>
                    </span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Payslip</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>please select staff(s) name</p>
                        <div class="alert alert-danger" v-if="!staffs">
                            <b>No Staff Record Found </b>
                        </div>
                        <ul class="list-group" v-else>
                            <li class="list-group-item" v-for="(staff,index) in staffs">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" :id="`md_checkbox_${staff.id}`" class="filled-in chk-col-blue" :value="`${staff.id}`" name="staffslist[]" ref="stafflist">
                                    <label :for="`md_checkbox_${staff.id}`">
                                        {{staff.title}} {{staff.surname}} {{staff.othername}}
                                        &nbsp;&nbsp;({{staff.position || 'N/A'}})
                                    </label>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click="processStaff" class="btn btn-primary float-right">Continue <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div> <!-- end here-->
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
    name: 'ManagePayroll',
    data() {
        return {
            payrolldate: [],
            loading_payslip: false
        }
    },
    async mounted() {
        if (this.$store.state.staffs.length === 0) {
            this.loading_payslip = true;
        }
        const id = this.$route.params.id;
        this.payrolldate = this.$store.getters.findPayrollById(id);
        this.$store.dispatch('loadStaffs').then(resp => {
            this.loading_payslip = false;
        }).catch(err => {
            swal('Notification', 'Error Occured, please check your internet connection or reload the page', 'error')
        });
        this.$store.dispatch('loadpayslip', { id: id }).then(res => {
            this.loading_payslip = false;
        }).catch(err => {
            swal('Notification', 'Error Occured, please check your internet connection or reload the page', 'error')
        });
        if (!this.payrolldate) {
            this.$router.push('/home/payroll');
        }
    },
    computed: mapState([
        'staffs',
        'payslips'
    ]),
    methods: {
        processStaff(e) {
            let elem = e.currentTarget;
            const stafflist = this.$refs.stafflist;
            let data = [];
            stafflist.map(index => {
                if (index.checked) {
                    data.push(index.value);
                }
            });
            const id = this.$route.params.id;
            const datastring = { payslip_id: id, data };
            elem.className = elem.className + " disabled";
            elem.innerHTML = "<i>please wait...</i> <i class='fa fa-cog fa-spin'></i>";
            this.$store.dispatch('storepayslip', datastring)
                .then(resp => {
                    swal('Notification', 'Record Added Successfully', 'success');
                    elem.classList.remove("disabled");
                    stafflist.map(index => {
                        index.checked = false
                    })
                    elem.innerHTML = "Continue <i class='fa fa-arrow-right'></i>";
                    $('#modal-default').modal('hide');
                }).catch(err => {
                    swal('Notification', 'Error Occured, try reloading this page', 'error');
                })
        },
        remove(e) {
            let elem = e.currentTarget;
            const id = elem.getAttribute('data-id');
            if (window.confirm("Are you sure ?")) {
                elem.className = elem.className + " disabled";
                elem.innerHTML = "<small><i>please wait... </i> <i class='fa fa-cog fa-spin'></i></small>"
                this.$store.dispatch('removepayslip', { id: parseInt(id) })
                    .then(res => {
                        swal('Notification', 'Deleted Successfully', 'success');
                        elem.classList.remove("disabled");
                        elem.innerHTML = "<i class='fa fa-times'></i>";
                    }).catch(err => {
                        swal('Notification', 'Error Occured, try reloading this page', 'error');
                    })
            }
        }
    }
}

</script>
<style lang="scss">
.custom-control {
    padding-left: .1rem;
}

[type=checkbox]+label {
    height: 0px !important;
}

</style>
