<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Payroll Created</h4>
                        <span class="box-controls pull-right">
                            <a href="javascript:void(0)" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-plus-circle"></i> Create payroll</a>
                        </span>
                    </div>
                    <div class="box-body">
                        <span v-if="list_payroll">
                            <img src="/admin/images/spinner.svg" /> <i>please wait...</i>
                        </span>
                        <span v-else>
                            <table class="table">
                                <tr>
                                    <th>S/N</th>
                                    <th>Month Created</th>
                                    <th>Year Created</th>
                                    <th>Salary Pay Date</th>
                                    <th> Action</th>
                                </tr>
                                <tr v-for="(pay,i) in payrolls">
                                    <td>{{i+1}}</td>
                                    <td>{{pay.month}}</td>
                                    <td>{{pay.year}}</td>
                                    <td>{{pay.payday_date}}</td>
                                    <td>
                                        <router-link :to="{name: 'ManagePayroll', params: {id: pay.id}}" class="btn btn-sm btn-primary">Details <i class="fa fa-arrow-right"></i></router-link>
                                        <a :href="'/export/'+pay.id" target="_blank" class="btn-success btn btn-sm">Export <i class="fa fa-download"></i></a>
                                        <button class="btn btn-sm btn-danger" @click="remove" :data-id="pay.id"><i class="fa fa-times"></i></a"></button>

                                    </td>
                                </tr>
                            </table>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog" role="document">
                <form @submit.prevent="processPayroll">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Create Payroll</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Current Month</label>
                                <select class="form-control" ref="month">
                                    <option v-for="(month, index) in months" :selected="currentmonth == index">{{month}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Current Year </label>
                                <select class="form-control" ref="year">
                                    <option v-for="year in getNumbers(minyear, currentyear+1)" :selected="year===currentyear">
                                        {{year}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Pay Date</label>
                                <input type="date" class="form-control" ref="date" required="">
                            </div>
                            <p></p>
                            <!--  <button class="btn-success btn" type="submit">Create <i class="fa fa-plus-circle"></i></button> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary float-right" :disabled="loading_payroll">
                                <span v-if="!loading_payroll"> Submit</span>
                                <span v-else><i>please wait...</i> <i class="fa fa-cog fa-spin"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!-- end here-->
        </div>
    </div>
</template>
<script>
import http from '../http'
import swal from 'sweetalert'
import HELPER from '../helper'
import { mapState } from 'vuex'
// import months from '../month'

export default {
    name: 'Payroll',
    data() {
        return {
            months: [
                'January',
                'Febuary',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December'
            ],
            minyear: 1980,
            currentmonth: '',
            currentyear: '',
            loading_payroll: false,
            list_payroll: false
        }
    },
    async mounted() {
        if (this.$store.state.payrolls.length === 0) {
            this.list_payroll = true
        }
        this.$store.dispatch('loadpayroll').then(resp => {
            this.list_payroll = false
        }).catch(err => {
            swal('Notification', 'Error Occured, Please check your internet connection or reload the page', 'error');
        });
    },
    computed: mapState([
        'payrolls'
    ]),
    created() {
        const date = new Date();
        this.currentmonth = date.getMonth();
        this.currentyear = date.getFullYear();
    },
    methods: {
        getNumbers(start, stop) {
            return new Array(stop - start).fill(start).map((n, i) => n + i);
        },
        processPayroll() {
            const month = this.$refs.month;
            const year = this.$refs.year;
            const date = this.$refs.date;
            const payload = { month: month.value, year: year.value, payday_date: date.value };
            this.loading_payroll = true;
            this.$store.dispatch('storepayroll', payload).then(res => {
                swal('Notification', 'Payroll Created Successfully !', 'success');
                $('#modal-default').modal('hide');
                this.loading_payroll = false;
            }).catch(err => {
                swal('Notification', 'Error Occured, try reloading this page !', 'error');
            })
        },
        remove(e) {
            let elem = e.currentTarget;
            if (window.confirm("Are you sure ?")) {
                elem.innerHTML = "<small><i>please wait</i> <i class='fa fa-cog fa-spin'></i></small>";
                elem.className = elem.className + " disabled";
                const _id = parseInt(elem.getAttribute('data-id'));
                this.$store.dispatch('removepayroll', { id: _id }).then(res => {
                    swal('Notification', 'Deleted Successfully', 'success');
                }).catch(err => {
                    swal('Notification', 'Error Occured, Try reloading your browser', 'error');
                });
            }

        }
    }
}

</script>
<style lang="scss">
.alert-warning,
.bg-warning,
.callout.callout-warning,
.label-warning,
.modal-warning .modal-body {
    background: rgba(orange, 0.4) !important;
    color: #666 !important;
}

.amountUpdate {
    width: 60px !important;
}

</style>
