<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Salary Specification</h4>
                        <span class="box-controls pull-right"></span>
                    </div>
                    <div class="box-body">
                        <div class="alert-warning alert">Please specify staff basic salary</div>
                        <form method="post" @submit.prevent="processSalary">
                            <div class="form-group">
                                <label>Staff information</label>
                                <select class="form-control" required ref="staff_info">
                                    <option value="">
                                        {{staffs.length > 0 ? 'select': 'loading...'}}</option>
                                    <option v-for="staff of staffs" :value="staff.id+'+'+staff.title+'_'+staff.surname+'_'+staff.othername">
                                        {{staff.title}} {{staff.othername}}, {{staff.surname}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Amount (&#8358;)</label>
                                <input class="form-control" type="number" required ref="staff_amount">
                            </div>
                            <div class="form-group">
                                <button class="btn-primary btn" type="submit" :disabled="isLoading">
                                    <span v-if="isLoading"><i>please wait...</i> <i class="fa fa-cog fa-spin"></i></span>
                                    <span v-else>
                                    Submit <i class="fa fa-plus-circle"></i>
                                </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Salary List</h4>
                        <span class="box-controls pull-right"></span>
                    </div>
                    <div class="box-body" style="height: 320px;overflow:auto;">
                        <span v-if="salary_loading">
                            <img src="/admin/images/spinner.svg" /> <i>please wait...</i>
                        </span>
                        <span v-else>
                        <!-- <span v-if="salarys.length > 0"> -->
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                            <tr v-for="(salary, index) of salarys">
                                <td>{{index+1}}</td>
                                <td>{{salary.has_staff ? salary.has_staff.title +' '+salary.has_staff.othername +','+ salary.has_staff.surname : '' }}</td>
                                <td>&#8358;{{format(salary.amount)}}</td>
                                <td>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-sm" @click="removeSalary" :data-id="salary.id">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </span>
                        </span>
                        <!-- 8 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Bonus Earning</h4>
                        <span class="box-controls pull-right">
                    </span>
                    </div>
                    <div class="box-body">
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary" @click="showEarning">
                            <i class="fa fa-money"></i> Add Earning </a>
                        <p></p>
                        <form v-if="earning" @submit.prevent="processEarning">
                            <p></p>
                            <div class="alert alert-warning">Please add any form of bonuses available as a add-on for staff, e.g (Housing Allowances, Food Allowances, etc)</div>
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" required v-model="earningTitle">
                                <label>Amount (&#8358;)</label>
                                <input type="number" class="form-control" name="" v-model="earningAmount" required="">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg" :disabled="loadingEarning">
                                    <span v-if="loadingEarning">
                                        <i>please wait...</i> <i class="fa fa-cog fa-spin"></i>
                                    </span>
                                    <span v-else>
                                        Create <i class="fa fa-plus-circle"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                        <span v-if="bonus_loading">
                            <img src="/admin/images/spinner.svg" /> <i>please wait...</i>
                        </span>
                        <span v-else>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="(stipend, index) in stipends" :key="stipend.id">
                                    <span v-show="stipend.id != id">{{stipend.title}}</span>
                                    <span v-show="stipend.id == id" >
                                        <input type="text" :value="stipend.title" class="earningUpdate" :ref="`earningUpdate-${stipend.id}`">
                                        <input type="number" :value="stipend.amount" class="amountUpdate" :ref="`amountUpdate-${stipend.id}`" disabled>
                                        <button @click="earningBtn" :data-id="stipend.id"class="btn btn-info btn-sm"><i class="fa fa-check-circle"></i> ok </button>
                                    </span>
                                    <span style="float:right"> &#8358; {{format(stipend.amount)}}</span>
                                    <div style="clear: both;">
                                        <a href="javascript:void(0)" title="Edit and click ok to update" @click="editEarning(stipend.id)" >
                                            <small>Edit <i class="fa fa-edit"></i></small>
                                        </a>&nbsp;
                                        <!--  <a href="javascript:void(0)" @click="remove" :data-id="stipend.id" class="btn btn-sm btn-danger btn-custom" title="Delete" >
                                            <small>Delete <i class="fa fa-times"></i></small>
                                    </a> -->
                                    </div>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Deduction Plan</h4>
                        <span class="box-controls pull-right">
                    </span>
                    </div>
                    <div class="box-body">
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary" @click="showDeduct"><i class="fa fa-money"></i> Add Deduction </a>
                    
                        <form v-if="deduct" @submit.prevent="processDeduct">
                            <p></p>
                            <div class="alert alert-warning">
                                Please add any form of deduction to be withdrawn from staff salary, e.g (VAT, Loan, etc)
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" required v-model="deductTitle">
                                <label>Amount (&#8358;)</label>
                                <input type="number" class="form-control" name="" v-model="deductAmount">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg" :disabled="loadingDeduct">
                                    <span v-if="loadingDeduct">
                                        <i>please wait...</i> <i class="fa fa-cog fa-spin"></i>
                                    </span>
                                    <span v-else>
                                        Create <i class="fa fa-plus-circle"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                        <p></p>
                        <span v-if="bonus_loading">
                            <img src="/admin/images/spinner.svg" /> <i>please wait...</i>
                        </span>
                        <span v-else>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="(deduct, index) in deducts" :key="deduct.id">
                                    <span v-show="deduct.id != id">{{deduct.title}}</span>
                                    <span v-show="deduct.id == id" >
                                        <input type="text" :value="deduct.title" class="deductUpdate" :ref="`deductUpdate-${deduct.id}`">
                                        <input type="number" :value="deduct.amount" class="amountUpdate" :ref="`amountDeductUpdate-${deduct.id}`" disabled>
                                        <button @click="deductBtn" :data-id="deduct.id" class="btn btn-sm btn-info"><i class="fa fa-check-circle"></i> ok </button>
                                    </span>
                                    <span style="float:right"> &#8358; {{format(deduct.amount)}}</span>
                                    <div style="clear: both;">
                                        <a href="javascript:void(0)" title="Edit and click ok to update" @click="editDeduct(deduct.id)">
                                            <small>Edit <i class="fa fa-edit"></i></small>
                                        </a>&nbsp;
                                        <!--  <a href="javascript:void(0)" class="btn btn-sm btn-danger btn-custom" title="Delete" @click="remove" :data-id="deduct.id">
                                        <small>Delete <i class="fa fa-times"></i></small>
                                    </a> -->
                                    </div>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import http from '../http'
import swal from 'sweetalert'
import HELPER from '../helper'
import { mapState } from 'vuex'

export default {
    name: 'SalaryPlan',
    components: {},
    async mounted() {
        if (this.$store.state.salarys.length === 0) {
            this.salary_loading = true
        }
        this.$store.dispatch('loadStipends').then(resp => {
            this.bonus_loading = false
        });
        if (this.$store.state.stipends.length === 0) {
            this.bonus_loading = true
        }
        this.$store.dispatch('loadSalary').then(resp => {
            this.salary_loading = false;
        });
        this.$store.dispatch('loadStaffs').then(resp => {
            this.bonus_loading = false;
        });
    },
    computed: {
        stipends() {
            return this.$store.getters.findEarning('earning');
        },
        ...mapState(['salarys', 'staffs']),
        deducts() {
            return this.$store.getters.findDeduction('deduction');
        }
    },
    data() {
        return {
            earning: false,
            deduct: false,
            earningTitle: '',
            earningAmount: '',
            deductTitle: '',
            deductAmount: '',
            edit_earning: false,
            id: 0,
            earningUpdate: '',
            amountUpdate: '',
            isLoading: false,
            edit_deduct: false,
            loadingEarning: false,
            loadingDeduct: false,
            bonus_loading: false,
            salary_loading: false
        }
    },
    methods: {
        showEarning() {
            if (this.earning === true) {
                this.earning = false;
            } else {
                this.earning = true;
            }
        },
        async processEarning() {
            let title = this.earningTitle;
            let amount = this.earningAmount;
            const data = { title: title, token_type: 'earning', amount: amount };
            this.loadingEarning = true;
            this.$store.dispatch('stipendList', data).then(resp => {
                this.loadingEarning = false
                this.earningTitle = "";
                this.earningAmount = "";
                this.earning = false
            });
        },
        async processDeduct() {
            const title = this.deductTitle;
            const amount = this.deductAmount;
            const payload = { title: title, token_type: 'deduction', amount: amount };
            this.loadingDeduct = true;
            this.$store.dispatch('stipendList', payload).then(resp => {
                this.loadingDeduct = false
                this.deductTitle = "";
                this.deductAmount = "";
                this.deduct = false
            });
        },
        showDeduct() {
            if (this.deduct === true) {
                this.deduct = false;
            } else {
                this.deduct = true;
            }
        },
        editEarning(id) {
            this.edit_earning = true;
            if (this.id == id) {
                this.id = 0;
            } else {
                this.id = id;
            }
        },
        editDeduct(id) {
            this.edit_deduct = true;
            if (this.id == id) {
                this.id = 0;
            } else {
                this.id = id;
            }
        },
        earningBtn(e) {
            let elem = e.currentTarget;
            const id = parseInt(elem.getAttribute('data-id'));
            const title = this.$refs[`earningUpdate-${id}`][0]
            const amount = this.$refs[`amountUpdate-${id}`][0]
            if (title.value === '') {
                return title.focus();
            } else if (amount.value === '') {
                return amount.focus();
            }

            elem.className = elem.className + " disabled";
            elem.innerHTML = "<i>please wait...</i> <i class='fa fa-cog fa-spin'></i>";
            const payload = { id: id, title: title.value, token_type: 'earning', amount: amount.value };
            this.$store.dispatch('updatestipend', payload)
                .then(res => {
                    this.loadingEarning = true;
                    elem.innerHTML = "<i class='fa fa-check-circle'></i> ok";
                    elem.classList.remove('disabled')
                    this.id = 0;
                })
        },
        deductBtn(e) {
            let elem = e.currentTarget;
            const id = parseInt(elem.getAttribute('data-id'));
            const title = this.$refs[`deductUpdate-${id}`][0]
            const amount = this.$refs[`amountDeductUpdate-${id}`][0]
            if (title.value === '') {
                return title.focus();
            } else if (amount.value === '') {
                return amount.focus();
            }

            elem.className = elem.className + " disabled";
            elem.innerHTML = "<i>please wait...</i> <i class='fa fa-cog fa-spin'></i>";
            const payload = { id: id, title: title.value, token_type: 'deduction', amount: amount.value };
            this.$store.dispatch('updatestipend', payload)
                .then(res => {
                    this.loadingDeduct = true;
                    elem.innerHTML = "<i class='fa fa-check-circle'></i> ok";
                    elem.classList.remove('disabled')
                    this.id = 0;
                })
        },
        processSalary() {
            const staff_info = this.$refs.staff_info;
            const staff_amount = this.$refs.staff_amount;
            if (!staff_amount.value.match(/^[0-9]+$/)) {
                swal('Notification', 'Valid amount is required !', 'error');
                return staff_amount.focus();
            }
            this.isLoading = true;
            let split_staff_info = staff_info.value.split('+');
            let [staff_id, staff_details] = split_staff_info;
            let replace_str = staff_details.replace(/_/gi, ' ');
            let [title, surname, othername] = replace_str.split(' ')
            const data_string = {
                staff_id: staff_id,
                amount: staff_amount.value,
                has_staff: {
                    title: title,
                    surname: surname,
                    othername: othername
                }
            };
            this.$store.dispatch('storesalary', data_string).then(response => {
                this.isLoading = false;
                swal('Notification', 'Record Added Successfully', 'success')
                this.$refs.staff_info.value = '';
                this.$refs.staff_amount.value = '';
            })

        },
        removeSalary(e) {
            let elem = e.currentTarget;
            if (window.confirm("Are you sure ?")) {
                const id = elem.getAttribute('data-id');
                elem.className = elem.className + " disabled";
                elem.innerHTML = "<small>please wait..</i> <i class='fa fa-cog fa-spin'></i>";
                this.$store.dispatch('deletesalary', { id: parseInt(id) })
                    .then(res => {
                        swal("Notification", "Deleted Successfully", "success");
                        elem.classList.remove("disabled");
                        elem.innerHTML = "<i class='fa fa-times'></i>";

                    }).catch(err => {
                        swal("Notification", "Error Occured, try reloading the page", "error");
                    })
            }
        },
        format(amt) {
            const amount = amt.toString();
            return HELPER.format(amount);
        },
        remove(e) {
            let elem = e.currentTarget;
            const id = elem.getAttribute('data-id');
            if (window.confirm("Are you sure ?")) {
                elem.innerHTML = "<i>please wait...</i> <i class='fa fa-cog fa-spin'></i>";
                elem.className = elem.className + " disabled";
                this.$store.dispatch('removestipend', { id: parseInt(id) })
                    .then(res => {
                        swal('Notification', 'Deleted Successfully', 'success');
                    }).catch(err => {
                        swal('Notification', 'Error Occured, try reloading the page', 'error');
                    })
            }
        }
    }
}

</script>
<style lang="scss">
.alert-warning,
.bg-warning,
.callout.callout-warning,
.label-warning,
.modal-warning .modal-body {
    background: rgba(orange, 0.4) !important;
    color: #666 !important;
}

.amountUpdate {
    width: 60px !important;
}

.btn-custom {
    padding: 3px;
    line-height: 10px;
}

</style>
