<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title"> Manage Users </h4>
                        <span class="box-controls pull-right">
                    </span>
                    </div>
                    <div class="box-body">
                        <span v-if="loading">
                            <img src="/admin/images/spinner.svg"> <i>please wait...</i>
                        </span>
                        <span v-else>
                            <table class="table">
                                <tr>
                                    <th>S/N</th>
                                    <th>Full Name</th>
                                    <th>Email Address</th>
                                    <th>Priority</th>
                                    <th>Action</th>
                                </tr>
                                <tr v-for="(user, index) of users">
                                    <td>{{index + 1 }}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <select class="" @change="updateUser" :data-id="user.id" style="font-size: 12px !important">
                                            <option value="">select</option>
                                            <option :selected="user.priority === '1'" value="1">Admin</option>
                                            <option value="0" :selected="user.priority === '0'">Normal</option>
                                        </select>
                                          <span :ref="'loading'+user.id"></span>
                                        </td>
                                        <td>
                                        <a href="javascript:void(0)" @click="edit" :data-id="user.id" class="btn btn-info btn-sm" style="line-height: 4px;"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0)" @click="removeuser" :data-id="user.id" class="btn btn-danger btn-sm" style="line-height: 4px;"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            </table>
                     </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Create User </h4>
                        <span class="box-controls pull-right">
                    </span>
                    </div>
                    <div class="box-body">
                        <form method="post" @submit.prevent="processUser">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" ref="name" required
                                :value="edituser ? edituser.name: '' ">
                            </div>
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="email" ref="email" class="form-control" required
                                :value="edituser ? edituser.email: '' ">
                            </div>
                            <div class="form-group">
                                <label>Priority</label>
                                <select class="form-control" ref="priority">
                                    <option value="">select</option>
                                    <option value="1" :selected="edituser ? edituser.priority === '1': '' ">Admin</option>
                                    <option value="0" :selected="edituser ? edituser.priority === '0': '' ">Normal</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" type="password" ref="password" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" ref="confpass" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" style="width: 100%;" ref="btn_add">
                                {{ edituser ? 'Update User Info' : 'Add User Account' }} </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import http from '../http'
import swal from 'sweetalert'
import HELPER from '../helper'
import { mapState } from 'vuex'

export default {
    name: 'Settings',
    data() {
        return {
            loading: false
        }
    },
    async mounted() {
        if (this.$store.state.users.length === 0) {
            this.loading = true;
        }
        this.$store.dispatch('loadusers').then(res => {
            this.loading = false;
        }).catch(err => {
            swal('Notification', 'Error Occured, please check your internet', 'error');
        });
    },
    computed: {
        ...mapState([
            'users'
        ]),
        edituser() {
            const user_id = this.$route.params.id;
            return this.$store.getters.findUserById(user_id);
        }
    },
    methods: {
        processUser() {
            let name = this.$refs.name;
            let email = this.$refs.email;
            let priority = this.$refs.priority;
            let pwd = this.$refs.password;
            let confpass = this.$refs.confpass;

            if (pwd.value.length < 6) {
                swal('Notification', 'Password must not be less than 6 chars', 'error');
                return pwd.focus();
            } else if (pwd.value !== confpass.value) {
                swal('Notification', 'Password supplied does not match', 'error');
                return confpass.focus();
            } else {
                const payload = {
                    name: name.value,
                    email: email.value,
                    priority: priority.value,
                    password: pwd.value 
                };
                const btnelem = this.$refs.btn_add;
                btnelem.innerHTML = "please wait <i class='fa fa-cog fa-spin'></i>";
                btnelem.setAttribute("disabled", "");
                if (this.$route.params.id !== undefined) {
                    payload.id = this.$route.params.id;
                    return this.$store.dispatch('updateuser', payload).then(res => {
                        swal('Notification', 'User information updated successfully', 'success')
                        btnelem.innerHTML = "Add User Account";
                        btnelem.removeAttribute("disabled");
                        pwd.value = '';
                        confpass.value = '';
                        this.$router.push('/home/setting');
                    })

                } 
                this.$store.dispatch('storeuser', payload)
                    .then(res => {
                        swal('Notification', 'User Added Successfully !', 'success');
                        btnelem.removeAttribute("disabled");
                        btnelem.innerHTML = "Add User Account";
                        name.value = '';
                        email.value = '';
                        priority.value = '';
                        pwd.value = '';
                        confpass.value = '';
                    }).catch(err => {
                        swal('Notification', 'Error Occured while processing information', 'error');
                    })
            }
        },
        updateUser(e) {
            const elem = e.currentTarget;
            const id = elem.getAttribute('data-id');
            const val = elem.value;
            if (val === '') {
                return elem.focus();
            }
            elem.setAttribute("disabled", "disabled")
            const el = this.$refs['loading' + id][0];
            el.innerHTML = "<i>please wait...</i>";
            this.$store.dispatch('updateuser', { id: id, priority: val })
            .then(resp => {
                swal('Notification', 'Information updated successfully', 'success');
                elem.removeAttribute("disabled");
                el.innerHTML = "";
            }).catch(err => {
                swal('Notification', 'Error Occured while processing data', 'error');
            })
        },
        removeuser(e) {
            const elem = e.currentTarget;
            const id = elem.getAttribute('data-id');
            if (window.confirm("Are you sure ?")) {
                elem.className = elem.className + " disabled";
                elem.innerHTML = "<i class='fa fa-cog fa-spin'></i>";
                this.$store.dispatch('removeuser', { id: parseInt(id) })
                .then(resp => {
                    swal('Notification', 'Deleted Successfully', 'success');
                    elem.classList.remove("disabled");
                    elem.innerHTML = "<i class='fa fa-times'></i>";
                }).catch(err => {
                    swal('Notification', 'Error Occured while processing data', 'error');
                })
            }
        },
        edit(e) {
            const elem = e.currentTarget;
            const user_id = elem.getAttribute('data-id');
            this.$router.push(`/home/setting/${user_id}`)
        }
    }
}

</script>
<style></style>
