<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <router-link :to="{name:'Payroll'}" style="font-size: 14px;"><i class="fa fa-chevron-left"></i> Back</router-link> 
                       <!--  summary -->
                    </h4>
                        <span class="box-controls pull-right">
                           <!--  <a href="javascript:void(0)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-plus-circle"></i> Export Data</a> -->
                        </span>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/admin/images/logo.png" style="width:50px;max-width: 100%;" >
                                <h3>Abbis Farm ltd</h3>
                                <span class="font-size-30">SALARY SUMMARY</span>
                                <p></p>
                                <strong>For</strong>
                                <p class="text-blue">{{payslips ? payslips.has_staff.title : ''}} {{payslips ? payslips.has_staff.surname : ''}} {{payslips ? payslips.has_staff.othername : ''}} </p>
                                <h6>Qualification: {{payslips ? payslips.has_staff.qualification : 'N/A'}}</h6>
                                <h4>Position: {{payslips ? payslips.has_staff.position : 'N/A'}}</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <h5>Date</h5>
                                <h3>{{payrolls ? payrolls.month +', '+payrolls.year : 'N/A'}}</h3>
                                <strong>Pay Date: {{payrolls ? payrolls.payday_date : 'N/A'}}</strong>
                            </div>
                        </div>
                        <div class="bg-dark" style="padding: 10px"> Additional Stipend </div>
                        <br />
                        <h3>Basic Salary:  
                         <span v-if="loading_salary">
                            <img src="/admin/images/spinner.svg" style="width: 50px;"> <small><i>please wait..</i></small>
                        </span>
                        <span v-else>
                            {{salarys ? '&#8358;'+format(salarys.amount) : 'N/A'}}
                        </span>
                    </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <br><br>
                                <span class="font-size-20">Additional Bonus</span>
                                <a href="#" class=" pull-right" @click="modal_default('Bonus', payslips.has_staff.id)">
                                        <i class="fa fa-plus-circle"></i> Add Bonus</a>
                                <div class="card">
                                    <span v-if="stipend_loading">
                                        <img src="/admin/images/spinner.svg"> <i>please wait...</i>
                                    </span>
                                    <span v-else>
                                    <table class="table">
                                        <tr class="bg-dark">
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Amount</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr v-for="(summary, index) of summarys" v-if="summary.has_stipend.token_type === 'earning'">
                                            <td><i class="fa fa-check-circle text-blue"></i></td>
                                            <td>{{summary.has_stipend.title}} </td>
                                            <td>&#8358;{{format(summary.has_stipend.amount)}}</td>
                                            <td><a href="javascript:void(0)" class="btn btn-sm btn-danger" @click="remove" :data-id="summary.id">
                                                    <i class="fa fa-times"></i>
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th style="font-weight: bold;">Total</th>
                                            <th style="font-weight: bold;" colspan="2">&#8358; {{format(stipends_total('earning'))}}</th>
                                        </tr>
                                    </table>
                                </span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <br><br>
                                <span class="font-size-20">Deduction</span>
                                <a href="#" class="pull-right" @click="modal_default('Deduction',payslips.has_staff.id)">
                                        <i class="fa fa-minus-circle"></i> Deduction</a>
                                <div class="card">
                                    <span v-if="stipend_loading">
                                        <img src="/admin/images/spinner.svg"> <i>please wait...</i>
                                    </span>
                                    <span v-else>
                                    <table class="table">
                                        <tr class="bg-dark">
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Amount</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr v-for="(summary, index) of summarys" v-if="summary.has_stipend.token_type === 'deduction'">
                                            <td><i class="fa fa-check-circle text-danger"></i></td>
                                            <td>{{summary.has_stipend.title}} </td>
                                            <td>&#8358;{{format(summary.has_stipend.amount)}}</td>
                                            <td><a href="javascript:void(0)" class="btn btn-sm btn-danger" @click="remove" :data-id="summary.id"><i class="fa fa-times"></i></a></td>
                                        </tr>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th style="font-weight: bold;">Total</th>
                                            <th style="font-weight: bold;" colspan="2">&#8358; {{format(stipends_total('deduction'))}}</th>
                                        </tr>
                                    </table>
                                </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <span class="font-size-30">Grand Total &#8358; {{sub_total}}</span>
                        <span class="pull-right">
                            <a href="javascript:window.print()" style="font-weight: bold;">click to print <i class="fa fa-print"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" ref="modal_title"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" ref="staff_id_input" value="0">
                            <label>Select</label>
                            <select class="form-control" v-if="modal_title=='Bonus'" required ref="stipend_val">
                                <option value="">select</option>
                                <option v-for="earning of earnings" :value="earning.id">{{earning.title}}</option>
                            </select>
                            <select class="form-control" v-if="modal_title=='Deduction'" required ref="stipend_val">
                                <option value="">select</option>
                                <option v-for="deduct of deductions" :value="deduct.id">{{deduct.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary float-right" @click="processStipend" :disabled="loading_stipend">
                            <span v-if="!loading_stipend">
                                    Continue <i class="fa fa-arrow-right"></i>
                                </span>
                            <span v-else> please wait... <i class="fa fa-cog fa-spin"></i></span>
                        </button>
                    </div>
                </div>
            </div> <!-- end here-->
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';
import swal from 'sweetalert';
import helper from '../helper';

export default {
    name: 'SinglePayroll',
    data() {
        return {
            modal_title: '',
            grandTotal: 10,
            loading_stipend: false,
            loading_remove: false,
            loading_salary: false,
            stipend_loading: false
        }
    },
    async mounted() {
        if (!this.payslips) {
            this.$router.push('/home/payroll');
        }
        if (this.$store.state.salarys === 0) {
            this.loading_salary = true;
        }
        this.$store.dispatch('loadSalary').then(res => {
            this.loading_salary = false;
        });
        if (this.$store.state.stipends === 0) {
            this.stipend_loading = true
        }
        this.$store.dispatch('loadStipends')
            .then(res => {
                this.stipend_loading = false
            });
        const staff_id = this.$route.params.id;
        const payslip_id = this.$route.params.payslip_id;
        this.$store.dispatch('loadsummary', { id: `${staff_id}:${payslip_id}` });
    },
    computed: {
        payslips() {
            const id = this.$route.params.id;
            return this.$store.getters.findPayslipById(id);
        },
        payrolls() {
            const payroll_id = this.$route.params.payroll_id;
            return this.$store.getters.findPayrollById(payroll_id);
        },
        salarys() {
            const staff_id = this.$route.params.id;
            return this.$store.getters.findSalaryByStaff(staff_id);
        },
        earnings() {
            return this.$store.getters.findEarning('earnings');
        },
        deductions() {
            return this.$store.getters.findDeduction('deduction');
        },
        ...mapState([
            'summarys'
        ]),
        sub_total() {
            let earning = (this.stipends_total('earning') !== undefined) ? this.stipends_total('earning') : 0;
            let deduction = (this.stipends_total('deduction') !== undefined) ? this.stipends_total('deduction') : 0;
            let main_salary = (this.salarys) ? this.salarys.amount : 0;
            let calc = (parseInt(main_salary) + parseInt(earning)) - parseInt(deduction);
            return this.format(calc);
        }
    },
    watch: {
        grandTotal(n, o) {
            console.log(`${n}, new value: ${o}`)
        }
    },
    methods: {
        stipends_total: function(token_type) {
            let total = [];
            Object.entries(this.summarys).forEach(([key, val]) => {
                if (val.has_stipend.token_type === token_type) {
                    total.push(val.has_stipend.amount);
                }
            });
            return total.reduce(function(total, num) { return total + num }, 0);
        },
        grand_total(amount) {
            this.grandTotal = this.grandTotal + amount;
        },
        modal_default(title, staff_id) {
            this.modal_title = title;
            this.$refs.modal_title.innerText = title
            this.$refs.staff_id_input.value = staff_id;
            $('#modal-default').modal('show')
        },
        processStipend() {
            let staff_id = this.$refs.staff_id_input;
            let stipend_val = this.$refs.stipend_val;
            const payslip_id = this.$route.params.payslip_id;

            if (stipend_val.value === '') {
                return stipend_val.focus();
            }
            this.loading_stipend = true;
            this.$store.dispatch('storesummary', {
                    staff_id: staff_id.value,
                    stipend_id: stipend_val.value,
                    payslip_id: payslip_id
                })
                .then(res => {
                    $('#modal-default').modal('hide')
                    swal('Notification', 'Successfully Added !', 'success');
                    this.loading_stipend = false;
                    stipend_val.value = "";
                })
        },
        format(amt) {
            return helper.format(amt);
        },
        remove(e) {
            const summary_id = e.currentTarget.getAttribute('data-id');
            let elem = e.currentTarget;
            if (window.confirm("Are you sure ?")) {
                elem.className = elem.className + " disabled";
                elem.innerHTML = "<small><i>please wait... </i> <i class='fa fa-cog fa-spin'></i>";
                this.$store.dispatch('removesummary', { id: parseInt(summary_id) })
                    .then(res => {
                        swal("Notification", "Deleted Successfully", "success");
                    }).catch(err => {
                        swal("Notification", "Please check the Internet or refresh the page", "error");
                    })
            }
        }
    }
}

</script>
