<template>
    <div>
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <router-link to="/home/staff-details" style="font-size: 14px;"><i class="fa fa-chevron-left"></i> Back </router-link> &nbsp; Staff Information</h4>
                    <span class="box-controls pull-right">
	                </span>
                </div>
                <div class="box-body">
                    <span v-if="staff">
                        <b>Full Name </b>
					             <h2>{{staff.title}} {{staff.othername}}, {{staff.surname}}</h2>
                       <table class="table">
                        <tr >
                          <th class="padding">
                            <p>Email Address </p>
                            <p>&raquo; {{staff.email ? staff.email : 'N/A'}}</p>
                          </th>
                          <th class="padding"> 
                            <p>Phone Number </p>
                            <p>&raquo; {{staff.phone_number ? staff.phone_number : 'N/A'}}</p>
                          </th>
                          <th class="padding">
                           <p>State of origin</p>
                           <p>&raquo; {{staff.state ? staff.state : 'N/A'}}</p>
                         </th>
                        </tr>
                        <tr>
                          <th class="padding">
                            <p>Qualification</p>
                            <p>&raquo; {{staff.qualification ? staff.qualification : 'N/A'}}</p>
                           </th>
                          <th> 
                            <p>Position </p>
                            <p>&raquo; {{staff.position ? staff.position : 'N/A'}}</p>
                          </th>
                          <th>
                            <p>Date of Birth</p>
                            <p>&raquo; {{staff.date_of_birth ? staff.date_of_birth : 'N/A'}}</p>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <p></p>
                             <router-link :to="{name: 'AddStaff', params: {id: staff.id}}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i> Edit Staff</router-link> 
                          </th>
                          <th> 
                            <p>Home Address</p>
                            <p>&raquo; {{staff.home_address ? staff.home_address : 'N/A'}}</p>
                          </th>
                        </tr>
                       </table>
                    </span> 
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
    name: 'StaffSingleDetails',
    data() {
        return {
            staff: []
        }
    },
    mounted() {
        if (!this.staff) {
            console.log('Hello world')
            this.$router.push('/home/staff-details')
        }
    },
    created() {
        let staffid = this.$route.params.id;
        this.staff = this.$store.getters.findStaffById(staffid);
    }
}

</script>
<style>
.padding { padding: 30px; }
</style>
