<template>
    <div>
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">
	                    	Staff Information</h4>
                    <span class="box-controls pull-right">
	                </span>
                </div>
                <div class="box-body">
                    <div v-if="loading">
                        <img src="/admin/images/spinner.svg"> <i>please wait...</i>
                    </div>
                    <div v-else>
                        <span v-if="staffs.length < 1">
                            <strong class="text-danger">No Records Available, please add new </strong>
                        </span>
                        <table class="table table-striped">
                            <tr>
                                <th>S/N</th>
                                <th>Full Name</th>
                                <th>Phone Number</th>
                                <th>Qualification</th>
                                <th>Position</th>
                                <th>Created At</th>
                                <th>Option</th>
                            </tr>
                            <tr v-for="(staff, key) in staffs" :key="staff.id">
                                <td>{{key+1}}</td>
                                <td>
                                    <span v-if="!staff.surname || !staff.othername">N/A</span>
                                    {{staff.title}} {{staff.surname}} {{staff.othername}}</td>
                                <td>
                                    <span v-if="!staff.phone_number">N/A</span>{{staff.phone_number}}</td>
                                <td>
                                    <span v-if="!staff.qualification">N/A</span>{{staff.qualification}}
                                </td>
                                <td>
                                    <span v-if="!staff.position">N/A</span>
                                    {{staff.position}}</td>
                                <td>{{staff.created_at}}</td>
                                <td>
                                    <router-link :to="{name: 'StaffSingleDetails', params: {id: staff.id}}">View More &nbsp;<i class="fa fa-chevron-right"></i></router-link>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div v-else>
                        <div class="alert alert-info">
                            <h4>No Staff Records Found</h4>
                            <router-link to="/home/add-staff">click here to add staff </router-link>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    name: 'StaffDetails',
    data() {
        return {
            loading: false
        }
    },
    async mounted() {
        if (this.$store.state.staffs.length === 0 ) {
            this.loading = true;
        }
        this.$store.dispatch('loadStaffs').then(res => {
            this.loading = false
        })
    },
    computed: mapState([
        'staffs'
    ])
}

</script>
<style>
</style>
