<template>
    <div class="col-xl-3 col-md-6 col-12">
        <div class="box box-body" :class="cardStyle">
            <h6>
                <span class="text-uppercase">{{cardTitle}}</span>
                <span class="float-right">
                    <router-link class="btn btn-xs btn-warning" :to="{name:cardUrl}">View</router-link>
                </span>
              </h6>
            <div class="flexbox align-items-center">
                <div><small>{{cardSmallTitle}}</small>
                    <span v-if="isLoading">
                        <p></p>
                        <img src="/admin/images/spinner.svg" class="resize-img"> <i>please wait...</i>
                    </span>
                    <span v-else>
                        <p class="font-size-26 mb-0">{{cardAmount}}</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Card',
    props: {
        cardTitle: String,
        cardStyle: String,
        cardUrl: String,
        cardSmallTitle: String,
        cardAmount: String,
        isLoading: Boolean
    }
}

</script>
<style>
.resize-img {
    width: 50px;
}

</style>
