<template>
    <header class="main-header">
        <a href="javascript:void(0)" class="logo">
	  	<b class="logo-mini">
		  ABBIS FARM LTD 
	  	</b>
      	<span class="logo-lg">
      		
	  	</span>
    	</a>
        <nav class="navbar navbar-static-top">
          	<div>
                <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<span class="sr-only">Toggle navigation</span>
		  		</a>
            </div>
        </nav>
    </header>
</template>
<script>
export default {
    name: 'Nav'
}

</script>
<style>
</style>
