<template>
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">Search</h4>
            <span class="box-controls pull-right">
                <a href="javascript:void(0)" @click="advance_search">Advance search</a>
              </span>
        </div>
        <div class="box-body">
            <div v-show="!click">
                <div class="form-group">
                    <label>Title</label>
                    <select class="form-control" ref="title">
                        <option value="">select</option>
                        <option value="MR">MR</option>
                        <option value="MRS">MRS</option>
                        <option value="MISS">MISS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input class="form-control" type="text" ref="surname">
                </div>
                <div class="form-group">
                    <label>Othernames</label>
                    <input type="text" class="form-control" ref="othername">
                </div>
                <p></p>
                <button class="btn btn-info btn-sm" @click="search_staff">
                    Search <i class="fa fa-search"></i>
                </button>
            </div>
            <hr>
            <div v-if="profile.length > 0">
                <div v-for="user of profile">
                    <h3>{{user.title +' '+user.surname +' '+user.othername}}</h3>
                      <h6>Phone Number</h6>
                    <h4>{{user.phone_number ? user.phone_number : 'N/A'}}</h4>
                    <h6>Email Address</h6>
                    <h4>{{user.email_address ? user.email_address : 'N/A'}}</h4>
                    <h6>Date of Birth</h6>
                    <h4>{{user.date_of_birth ? user.date_of_birth : 'N/A'}}</h4>
                    <h6>Qualification</h6>
                    <h4>{{user.qualification ? user.qualification : 'N/A'}}</h4>
                    <h6>Position</h6>
                    <h4>{{user.position ? user.position : 'N/A'}}</h4>
                    <h6>State</h6>
                    <h4>{{user.state ? user.state : 'N/A'}}</h4>
                    <hr>
                </div>
            </div>
            <div v-show="click">
                <div class="form-group">
                    <label>Payroll Month</label>
                    <select class="form-control" ref="month">
                        <option value="">select</option>
                        <option v-for="month of months" :value="month">{{month}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Payroll Year</label>
                    <select class="form-control" ref="year">
                        <option value="">select</option>
                        <option v-for="year in getNumbers(minyear, currentyear+1)" :value="year">
                            {{year}}</option>
                    </select>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn-primary btn-sm btn" @click="search_payroll">
                        Search <i class="fa fa-search"></i>
                    </button>
                </div>
                <div v-if="loading == true">
                    <table class="table">
                        <tr>
                            <th>S/N</th>
                            <th>Name</th>
                            <th>Qualification</th>
                            <th>Position</th>
                            <th>Action</th>
                        </tr>
                        <tr v-for="(payslip,index) of payslips">
                            <td>{{index+1}}</td>
                            <td>{{payslip.has_staff ? payslip.has_staff.title +' '+ payslip.has_staff.surname +' '+payslip.has_staff.othername : 'N/A'}} </td>
                            <td>{{payslip.has_staff ? payslip.has_staff.qualification: 'N/A'}}</td>
                            <td>{{payslip.has_staff ? payslip.has_staff.position : 'N/A'}}</td>
                            <td>
                                <router-link :to="{name: 'SinglePayroll', params: {id: payslip ? payslip.has_staff.id: 0, payroll_id: payslip ?  payslip.payroll_id : 0, payslip_id: payslip ?  payslip.id : 0}}"><small>Details <i class="fa fa-chevron-right"></i></small>
                                </router-link>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ref="showerror" style="display: none">
                    <div class="alert alert-danger">No information found for the selected date</div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
    name: 'Search',
    async mounted() {
        this.$store.dispatch('loadStaffs');
        this.$store.dispatch('loadpayroll');
    },
    created() {
        const date = new Date();
        this.currentmonth = date.getMonth();
        this.currentyear = date.getFullYear();
    },
    computed: {
        ...mapState(['staffs', 'payslips'])
    },
    data() {
        return {
            click: false,
            months: [
                'January',
                'Febuary',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December'
            ],
            minyear: 1980,
            currentmonth: '',
            currentyear: '',
            loading: false,
            profile: []
        }
    },
    methods: {
        search_staff(e) {
            const elem = e.currentTarget;
            const title = this.$refs.title;
            const surname = this.$refs.surname;
            const othername = this.$refs.othername;
            if (title.value === '') {
                return title.focus();
            } else if (surname.value === '') {
                return surname.focus();
            }
            elem.innerHTML = "please wait ... <i class='fa fa-cog fa-spin'></i>";
            const payload = { title: title.value, surname: surname.value, othername: othername.value }
            this.profile = this.$store.getters.findStaffByName(payload);
            if (this.profile.length === 0) {
                swal('Notification', 'No Staff Information Found', 'error');
            }
            elem.innerHTML = "Search <i class='fa fa-search'></i>"
        },
        search_payroll(e) {
            const elem = e.currentTarget;
            const month = this.$refs.month;
            const year = this.$refs.year;
            if (month.value === '') {
                return month.focus();
            } else if (year.value === '') {
                return year.focus();
            }
            const payload = { month: month.value, year: year.value };
            elem.setAttribute("disabled", "");
            elem.innerHTML = "please wait <i class='fa fa-cog fa-spin'></i>";
            // this.loading = true
            const resp = this.$store.getters.findPayrollByParam(payload);
            if (resp !== undefined) {
                const payload = resp;
                this.$store.dispatch('loadpayslip', payload)
                    .then(resp => {
                        this.loading = true;
                        elem.removeAttribute("disabled");
                        elem.innerHTML = "Search <i class='fa fa-search'></i>"
                        this.$refs.showerror.style.display = "none";
                    }).catch(err => {
                        swal('Notification', 'Error Occured, please reload this page', 'error');
                    });
            } else {
                this.loading = false
                elem.removeAttribute("disabled");
                elem.innerHTML = "Search <i class=fa fa-search'></i>"
                this.$refs.showerror.style.display = "block";
            }
        },
        getNumbers(start, stop) {
            return new Array(stop - start).fill(start).map((n, i) => n + i);
        },
        advance_search(e) {
            if (this.click === false) {
                e.currentTarget.innerText = "Search Staff Info"
                this.click = true
            } else {
                e.currentTarget.innerText = "Advance Search"
                this.click = false
            }
        }
    }
}

</script>
<style>
</style>
