<template>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="user-profile treeview">
                    <a href="javascript:void(0)">
                        <span style="color: #000">Welcome, 
                            <b style="font-weight: bold;text-transform: capitalize;">{{name.length > 15 ? name.substr(0, 15)+'...' : name }}</b></span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <router-link to="/home">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </router-link>
                </li>
                <li class="header nav-small-cap">STAFF MANAGEMENT</li>
                </li>
                <li>
                    <router-link to="/home/add-staff">
                        <i class="fa fa-plus-circle"></i>
                        <span>Add New Staff</span>
                    </router-link>
                </li>
                 <li>
                    <router-link to="/home/staff-details">
                        <i class="fa fa-users"></i>
                        <span>Staff Details</span>
                    </router-link>
                </li>
                <li class="">
                    <router-link to="/home/salary-plan">
                        <i class="fa fa-money"></i>
                        <span>Salary Plan</span>
                    </router-link>
                </li>
                <li class="header nav-small-cap" v-if="priority=='1'">PAYROLL MANAGEMENT</li>
                <li class="" v-if="priority=='1'">
                    <router-link to="/home/payroll">
                        <i class="fa fa-table"></i> <span>Manage Payroll</span>
                    </router-link>
                </li>
                <li class="header nav-small-cap" v-if="priority=='1'">USER MANAGEMENT</li>
                 <li class="" v-if="priority=='1'">
                    <router-link to="/home/setting">
                        <i class="fa fa-cog"></i> <span>Setting</span>
                    </router-link>
                </li>
                <li class="">
                    <a href="/signout">
                        <i class="fa fa-power-off"></i> <span>Logout</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
</template>
<script>
export default {
    name: 'SideBar',
    props: ['name', 'priority'],
}

</script>
<style>
</style>
